{% extends "shared/layout.html" %}
{% block main %}

<style>
    .text {
        color: white;
    }

    .pad {
        padding-left: 1cm;
        padding-right: 1cm;
    }

    .graf {
        padding-left: 3cm;
        padding-right: 3cm;
    }

    @media only screen and (max-width: 800px) {
        .graf {
            padding-left: 0.5cm;
            padding-right: 0.5cm;
        }
    }
</style>

<div class="graf" style="background-color:#2C2E33; padding-top: 1cm; padding-bottom: 1cm">
    <p style="margin-top:2cm"></p>
    <h3 class="text-center text pad">Statistics:</h3>
    <font color="white">Danceability</font>
    <div class="progress ">
        <div class="progress-bar" role="progressbar" style="width: {{ avg[0]  }}%; background-color: #47FF6D;" aria-valuenow="{{ avg[0] }}" aria-valuemin="0" aria-valuemax="100">{{ avg[0] }}%</div>
    </div>
    <p></p>
    <font color="white">Energy</font>
    <div class="progress ">
        <div class="progress-bar" role="progressbar" style="width: {{ avg[1] }}%; background-color: #E6DD45;" aria-valuenow="{{ avg[1] }}" aria-valuemin="0" aria-valuemax="100">{{ avg[1] }}%</div>
    </div>
    <p></p>
    <font color="white">Acousticness</font>
    <div class="progress ">
        <div class="progress-bar" role="progressbar" style="width: {{ avg[2]  }}%; background-color: #FCAD58;" aria-valuenow="{{ avg[2] }}" aria-valuemin="0" aria-valuemax="100">{{ avg[2] }}%</div>
    </div>
    <p></p>
    <font color="white">Instrumentalness</font>
    <div class="progress ">
        <div class="progress-bar" role="progressbar" style="width: {{ avg[3]  }}%; background-color: #E64570;" aria-valuenow="{{ avg[3]}}" aria-valuemin="0" aria-valuemax="100">{{ avg[3]  }}%</div>
    </div>
    <p></p>
    <font color="white">Valence</font>
    <div class="progress ">
        <div class="progress-bar" role="progressbar" style="width: {{ avg[4]  }}%; background-color: #7F4CFE;" aria-valuenow="{{ avg[4]}}" aria-valuemin="0" aria-valuemax="100">{{ avg[4] }}%</div>
    </div>

</div>

<div style="background-color:#2C2E33; padding-top: 1cm; padding-bottom: 1cm; ">
    <h3 class="text-center text pad">Tracks features:</h3>
    <div style="margin: auto; text-align: center;">

        <div div class="card-group tracks">

            <div class="card" style="background-color:#2C2E33;border-color: #2C2E33;">
                <font color="white">Most Popular</font>
                <iframe style=" text-align: center; margin: auto" src="https://open.spotify.com/embed/track/{{ msc[0][1] }}" width="250" height="330" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>

            <div class="card" style="background-color:#2C2E33;border-color: #2C2E33;">
                <font color="white">Longest</font>
                <iframe style=" text-align: center; margin: auto" src="https://open.spotify.com/embed/track/{{ msc[1][1] }}" width="250" height="330" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>

            <div class="card" style="background-color:#2C2E33;border-color: #2C2E33;">
                <font color="white">Happiest</font>
                <iframe style=" text-align: center; margin: auto" src="https://open.spotify.com/embed/track/{{ msc[2][1] }}" width="250" height="330" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>

        </div>

        <div div class="card-group tracks">

            <div class="card" style="background-color:#2C2E33;border-color: #2C2E33;">
                <font color="white">Less Popular</font>
                <iframe style=" text-align: center; margin: auto" src="https://open.spotify.com/embed/track/{{ msc[3][1] }}" width="250" height="330" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>

            <div class="card" style="background-color:#2C2E33;border-color: #2C2E33;">
                <font color="white">Shortest</font>
                <iframe style=" text-align: center; margin: auto" src="https://open.spotify.com/embed/track/{{ msc[4][1] }}" width="250" height="330" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>

            <div class="card" style="background-color:#2C2E33;border-color: #2C2E33;">
                <font color="white">Saddest</font>
                <iframe style=" text-align: center; margin: auto" src="https://open.spotify.com/embed/track/{{ msc[5][1] }}" width="250" height="330" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>

    </div>

    <p style="margin-top:2cm;" class="text-center"><a href="/"><font color="green">Home |</font></a><a href="/search"><font color="green"> analyze others users profiles |</font></a><a href="/profile"><font color="green"> analyze your profile</font></a></p>
    <p class="text-center" style="padding-top: 2cm; padding-bottom: 2cm; color: black;">
        Data provided by
        <a href="http://spotify.com" target="_blank"><b>Spotify</b></a>
    </p>
</div>



{% endblock %}
