{% extends "shared/layout.html" %}
{% block main %}
<div class="bg-dark p-5">
    <div class="mt-2 d-flex justify-content-center">
        <img src={{ profile.Img }} class="user-img">
    </div>
    <h3 class="text-white text-center" id="hello">
        Good Morning {% if profile.User["display_name"] != "" %} {{  profile.User["display_name"] }} {% set name = profile.User["display_name"] %} {% else %} {{  profile.User["id"] }} {% set name = profile.User["id"] %} {%endif%} !
    </h3>
    <script>
      now = new Date
      if (now.getHours() >= 0 && now.getHours() < 5) {
          var element = document.getElementById("hello");
          element.innerHTML = "Good Night {{name}} !";
      }
      else if (now.getHours() >= 5 && now.getHours() < 12) {
          var element = document.getElementById("hello");
          element.innerHTML = "Good morning {{name}} !";
      }
      else if (now.getHours() >= 12 && now.getHours() < 18) {
          var element = document.getElementById("hello");
          element.innerHTML = "Good Evening {{name}} !";
      }
      else {
          var element = document.getElementById("hello");
          element.innerHTML = "Good Night {{name}} !";
      }
    </script>
    <p class="text-center">
        {% for playlist in profile.Playlists["items"] %}
        <iframe src="https://open.spotify.com/embed/playlist/{{ playlist["id"] }}" width="300" height="80" frameborder="0"
                allowtransparency="false" allow="encrypted-media"></iframe>
        {% endfor %}
    </p>
    <div class="dropdown d-flex justify-content-center">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose a playlist to analyze
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for i in range(profile.Playlists["items"]|length) %}
            <a id="link{{ i }}" class="dropdown-item" href="playlist-{{ profile.Playlists["items"][i]["id"] }}">
                {% if profile.Playlists["items"][i]["name"]|length > 23 %}
                {{ profile.Playlists["items"][i]["name"][0:20] }}...
                {% else %}
                {{ profile.Playlists["items"][i]["name"] }}
                {% endif %}
            </a>
            {% endfor %}
        </div>
    </div>
    <script language=javascript type="text/javascript">
      {% for i in range(profile.Playlists["items"]|length) %}
      document.querySelector('#link{{ i }}').onclick = function() {
      var element = document.getElementById("dropdownMenuButton");
      element.innerHTML = "<span>Loading...  </span><div  style='height: 20px; width: 20px' class='spinner-border' role='status'></div>";
      };
      {% endfor %}
    </script>
</div>
<div class="py-5" style="background-image: url(static/images/green-blue.jpg);background-repeat: no-repeat;background-size: cover;">
    <h3 class="text-white text-center">Main favorite genre: {{ genre }} &#9835;</h3>
    <h3 class="text-white text-center">Top Artists:</h3>
    <div style="margin: auto; text-align: center; ">
        <div class="card-group px-1">
            {% for i in range(profile.TopArtists["items"]|length) if i < 5 %}
            <div class="card" style="background:none;border: none">
                <img src={{profile.TopArtists["items"][i]["images"][0]["url"]}} style="margin: auto; text-align: center;" class="user-img">
                <font color="white">{{ profile.TopArtists["items"][i]["name"] }}</font>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="bg-dark p-5">
    <h3 class="text-center text-white" id="hello">Your Top Tracks:</h3>
    <p class="text-center text-white">
        {% for i in range(profile.TopTracks["items"]|length) if i < 5 %}
        <iframe src="https://open.spotify.com/embed/track/{{ profile.TopTracks["items"][i]["id"] }}" width="300px" height="380px" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        {% endfor %}
    </p>
    <p class="text-center pt-5"><a class="text-info" href="/">Home |</a><a class="text-info" href="/search"> analyze others users profiles</a></p>
    <p class="text-center p-2">
        Data provided by
        <a href="http://spotify.com" target="_blank"><b>Spotify</b></a>
    </p>
</div>
{% endblock %}