{% extends "shared/layout.html" %}
{% block main %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/profile/playlists.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/profile/artists.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/profile/topTracks.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/profile/footer.css') }}">

<section class="playlists container">
    <img src={{ profile.Img }} class="playlists__userImg">
    <h3 class="fs-4">
        Hi 
        {% if profile.User["display_name"] != "" %} 
            {{  profile.User["display_name"] }} 
            {% set name = profile.User["display_name"] %} 
        {% else %} 
            {{  profile.User["id"] }} 
            {% set name = profile.User["id"] %} 
        {%endif%} ! Some of your playlists:
    </h3>
    <p class="text-center playlists__players">
        {% for playlist in profile.Playlists["items"] %}
            <iframe src="https://open.spotify.com/embed/playlist/{{ playlist["id"] }}" width="300" height="80" frameborder="0"
                    allowtransparency="false" allow="encrypted-media"></iframe>
            {% endfor %}
    </p>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose a playlist to analyze
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for i in range(profile.Playlists["items"]|length) %}
            <a id="link{{ i }}" class="dropdown-item" href="playlist-{{ profile.Playlists["items"][i]["id"] }}">
                {% if profile.Playlists["items"][i]["name"]|length > 23 %}
                {{ profile.Playlists["items"][i]["name"][0:20] }}...
                {% else %}
                {{ profile.Playlists["items"][i]["name"] }}
                {% endif %}
            </a>
            {% endfor %}
        </div>
    </div>
</section>

<section  class="artists container">
    <h3 class="fs-4">Your main favorite genre: {{ genre }} &#9835;</h3>
    <h3 class="fs-4">Your top Artists:</h3>
    <div class="artists__info">
        {% for i in range(profile.TopArtists["items"]|length) if i < 5 %}
            <div class="artists__info__list">
                <img src={{profile.TopArtists["items"][i]["images"][0]["url"]}}  class="artists__info__list__img">
                <p class="fs-6">{{ profile.TopArtists["items"][i]["name"] }}</p>
            </div>
        {% endfor %}
    </div>
</section>

<section class="bg-dark topTracks">
    <h3 class="fs-4">Your Top Tracks:</h3>
    <p class="text-center fs-4 topTracks__players">
        {% for i in range(profile.TopTracks["items"]|length) if i < 5 %}
        <iframe src="https://open.spotify.com/embed/track/{{ profile.TopTracks["items"][i]["id"] }}" width="300px" height="380px" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        {% endfor %}
    </p>
</section>

<footer class="footer">
    <p class="text-center">
        <a href="/">Home |</a>
        <a href="/search"> analyze others users profiles</a>
    </p>
    <p class="text-center">
        Data provided by
        <a href="http://spotify.com" target="_blank"><b>Spotify</b></a>
    </p>
</footer>

{% endblock %}