{% extends "shared/layout.html" %}
{% block main %}

<style>
    .text {
        color: white;
    }

    .pad {
        padding-left: 1cm;
        padding-right: 1cm;
    }

    .tracks {
        padding-left: 1cm;
        padding-right: 1cm;
    }

    @media only screen and (max-width: 1030px) {
        .tracks {
            padding-left: 0cm;
            padding-right: 0cm;
        }
    }

    .myimg {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }

    .muc {
        width: 300px;
        height: 80px;
    }

    @media only screen and (max-width: 350px) {
        .muc {
            width: 280px;
            height: 80px;
        }
    }
</style>

<div style="background-color:#2C2E33; padding: 0.5cm;">
    <p style="margin-top:2cm"></p>
    <div style="text-align: center;margin: auto;">
        <img src={{ img }} class="myimg">
    </div>
    <h3 class="text-center text pad" id="hello">Good Morning {{name}} !</h3>

    <p class="text-center" style="margin: auto; max-width: 1000px;">
        {% for i in range(playlists|length) %}
        <iframe src="https://open.spotify.com/embed/playlist/{{ playlists[i][1] }}" class="muc" frameborder="0"
                allowtransparency="true" allow="encrypted-media"></iframe>
        {% endfor %}
    </p>
    <div class="dropdown" style="text-align: center; margin: auto;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose a playlist to analyze
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for i in range(playlists|length) %}
            <a id="link{{ i }}" class="dropdown-item" href="playlist-{{ playlists[i][1] }}"> {{playlists[i][0]}} </a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="tracks" style="padding-top: 1cm; padding-bottom: 1cm; background-image: url(static/imgs/green-blue.jpg);background-repeat: no-repeat; background-size: cover;">
    <h3 class="text-center text pad">Main favorite genre: {{ genre }} &#9835;</h3>
    <h3 class="text-center text pad">Top Artists:</h3>
    <div style="margin: auto; text-align: center; ">
        <div div class="card-group tracks">
            {% for artist in artists %}
            <div class="card" style="background:none;border: none">
                <img style="text-align: center; margin: auto;" src={{artist[2]}} class="myimg">
                <font color="white">{{ artist[0] }}</font>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="tracks" style=" padding-top: 1cm; padding-bottom: 1cm;background-color:#2C2E33">
    <h3 class="text-center text pad" id="hello">Your Top Tracks:</h3>
    <p class="text-center">
        {% for i in range(tracks_length) %}
        <iframe src="https://open.spotify.com/embed/track/{{ tracks[i][1] }}" width="300px" height="380px" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        {% endfor %}
    </p>

    <p style="margin-top:2cm;" class="text-center"><a href="/"><font color="green">Home |</font></a><a href="/look-users"><font color="green"> analyze others users profiles</font></a></p>
    <p class="text-center" style="padding-top: 2cm; padding-bottom: 2cm; color: black;">
        Data provided by
        <a href="http://spotify.com" target="_blank"><b>Spotify</b></a>
    </p>
</div>

<script language=javascript type="text/javascript">
    now = new Date
    if (now.getHours () >= 0 && now.getHours () < 5)
    {
        var element = document.getElementById("hello");
        element.innerHTML = "Good Night {{name}} !";
    }
            else if (now.getHours () >= 5 && now.getHours () < 12)
    {
        var element = document.getElementById("hello");
        element.innerHTML = "Good morning {{name}} !";
    }
            else if (now.getHours () >= 12 && now.getHours () < 18)
    {
        var element = document.getElementById("hello");
        element.innerHTML = "Good Evening {{name}} !";
    }
    else
    {
        var element = document.getElementById("hello");
        element.innerHTML = "Good Night {{name}} !";
    }
    {% for i in range(playlists|length) %}
    document.querySelector('#link{{ i }}').onclick = function() {
    var element = document.getElementById("dropdownMenuButton");
    element.innerHTML = "<span>Loading...  </span><div  style='height: 20px; width: 20px' class='spinner-border' role='status'></div>";
    };
    {% endfor %}
</script>


{% endblock %}