{% extends "shared/layout.html" %}
{% block main %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/about/about.css') }}">
    <section class="about">
        <div class="container">
            <h1>Music analysis is an web project to analyze data from Spotify about the music world.</h1>    
            <h2 class="about__git">
                <div class="about__git__logo"></div>
                <a target="_blank" href="https://github.com/Mateus-Mannes/musicanalysis">
                    Check out our documentation and code in GitHub
                </a>
            </h2>
            <p class="footer fs-5">
                <a href="/">Home |</a>
                <a href="/search"> analyze others users profiles | </a>
                <a href="/profile"> analyze your profile</a>
            </p>
        </div>
    </section>
{% endblock %}