.footer{
    height: 20vh;
    background: linear-gradient(aqua 1%,  cornflowerblue 99% );
    padding: 3rem 3rem;
    color: white;
}

.footer a{
    color: white;
}

.footer a:hover{
    color: white;
}