.songs{
    max-width: none;
    padding-top: 1rem;
    padding-top: 1rem;
    background: linear-gradient(darkslategrey 1%,  #343434 99% );
    padding-bottom: 1rem;
    color: white;
}

.songs__players{
    max-width: 1000px;
    margin: auto;
}