{% extends "shared/layout.html" %}
{% block main %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index/header.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index/popularity/popularity.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index/popularity/popularity-map.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index/popularity/popularity-filter.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index/footer.css') }}">
<script>
    var top_tracks_data = JSON.parse('{{ top_tracks_data | tojson | safe}}');
</script>
<script type="text/javascript" src="{{ url_for('static',filename='js/index.js') }}"></script>


<section class="header text-center">
    <div class="container">
        <h1>
            <img src="static/images/index-logo.png" class="header__logo" width="100%" alt="Music Analisys">
        </h1>
        <h2>An web project to analyze data from Spotify about the music world.</h2>
    </div>
    <div>
        <p>Connect to spotify to analyse yours top tracks !</p>
        {% if session.uuid %}
            <form action="/profile" method="get">
                <button class="btn btn-outline-success my-2 my-sm-0">Analyze your profile</button>
        {% else %}
            <form action="/login" method="get">
                <button class="btn btn-outline-success my-2 my-sm-0">Login with Spotify</button>
        {% endif %}
        </form>
    </div>
</section>


<section class="popularity">    
    <div class="popularity__map">
        <h3 id="mapTitle" class="text-center fs-5">Current popularity of pop in the world</h3>
        <html>
            <head>
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                    google.charts.load('current', {
                        'packages': ['geochart'],
                        'mapsApiKey': 'AIzaSyATtbryoSOyktqnHutX5ek3N93bvcP2Q70'
                    });
                    google.charts.setOnLoadCallback(drawRegionsMap);

                    function drawRegionsMap() {
                        var data = google.visualization.arrayToDataTable(count_genre);

                        var options = {};

                        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

                        chart.draw(data, options);
                    }
                </script>
            </head>
            <body>
                <div id="regions_div">
                </div>
            </body>
        </html>
        <p class="popularity__map__description">
            <small>
                popularity is the count of times the genre appears on the top 10 most listened tracks of the country
                <br />
                <b>daily updated data</b>
            </small>
        </p>
    </div>

    <div class="popularity__filter">
        <div class="container">
            <button class="popularity__filter__dropdown dropdown-toggle" id="dropbtn">pop</button>
            <div id="dropdown" class="popularity__filter__dropdown__content">
                <input type="text" placeholder="Search.." id="input" class="popularity__filter__dropdown__content__input" onkeyup="filterFunction()">
                <div class="popularity__filter__dropdown__content__genres">  
                    {% for genre in genres %}
                        <a class="popularity__filter__dropdown__content__genre" onclick="changeCountry('{{ genre }}');">{{ genre }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</section>


<footer class="footer">
    <p class="text-center">
        <a  href="/profile">analyze your profile |</a>
        <a  href="/search"> analyze others users profiles</a>
    </p>
    <p class="text-center">
        Data provided by
        <a  href="http://spotify.com" target="_blank"><b>Spotify</b></a>
    </p>
</footer>

{% endblock %}