.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6C7A89;
    color: white;
    text-align: center;
    max-width: none;
}

.search a{
    color: white;
}