{% extends "shared/layout.html" %}
{% block main %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/search/search/user.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/search/search/playlist.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/search/search/topArtist.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/search/search/genre.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/search/search/songs.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/search/search/footer.css') }}">
<script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>

<section class="playlists container">
    <img src={{ search.Image }} class="user__img">
    <h1 class="user__label fs-3">User: {{ search.Name }}</h1>
    <h2 class="playlists__label fs-4">Some of {{ search.Name }}'s playlists are:</h2>
    <div id="carouselExampleControls" class="playlists__carousel carousel slide" >
        <div class="carousel-inner">
            {% for i in range(search.Playlists['items']|length) %}
                <div {% if i == 1 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
                    <p class=" text-center">
                        <iframe class="playlists__carousel__item" src={{"https://open.spotify.com/embed/playlist/" + search.Playlists['items'][i]["id"]}}  height="380" frameborder="0"
                                allowtransparency="true" allow="encrypted-media"></iframe>
                    </p>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section class="topArtist container">
    <h3 class="topArtist__label fs-4">The most frequent artist of {{ search.Name }} is {{ artist["artist"]["name"] }}</h3>
    <div class="topArtist__info">
        <div class="topArtist__info__static">
            <p class="topArtist__info__static__genre fs-4">Genre: {{ artist["genre"] }}</p>
            <img src={{ artist["artist"]["images"][0]["url"] }} class="topArtist__info__static__img">
        </div>
        <p class="topArtist__info__album text-center">
            <iframe src="https://open.spotify.com/embed/album/{{ artist["album"] }}" width="100%" height="300" frameborder="0"
                    allowtransparency="true" allow="encrypted-media"></iframe>
        </p>
    </div>
</section>

<section class="genres">
    <h3 class="text-center fs-4">The main genres of {{ search.Name }}'s playlists are:</h3>
    <p class="text-center">
        <div class="genres__cards">
            {% set colors = {0: "primary", 1: "secondary", 2: "success", 3: "danger", 4: "warning"} %}
            {% for i in range(genres|length) %}
            <div class="alert alert-{{ colors[i] }} text-center" role="alert">
                {{ genres[i] }}
            </div>
            {% endfor %}
        </div>
    </p>
</section>

<section class="songs container">
    <h3 class="text-center fs-4">Some songs that you have in common</h3>
    <h3 class="text-center fs-4">whith {{ search.Name }} are:</h3>
    {% if incommon != [] %}
        <div class="text-center songs__players">
            {% for i in range(incommon|length) %}
                <iframe src="https://open.spotify.com/embed/track/{{ incommon[i] }}" width="300" height="380" frameborder="0"
                        allowtransparency="true" allow="encrypted-media"></iframe>
            {% endfor %}
        </div>
    {% else %}
        <h3 class="text-center fs-4">
            Sorry, we didn't find any in common musics between the user's public playlists and yours.
        </h3>
    {% endif %}
</section>

<footer class="footer">
    <p class="text-center">
        <a  href="/">Home |</a>
        <a  href="/search"> analyze others users profiles |</a>
        <a  href="/profile"> analyze your profile</a>
    </p>
    <p class="text-center">
        Data provided by
        <a  href="http://spotify.com" target="_blank"><b>Spotify</b></a>
    </p>
</footer>

<script type="text/javascript" src="{{ url_for('static',filename='js/search.js') }}"></script>

{% endblock %}
