{% extends "shared/layout.html" %}
{% block main %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/search/search-form/search.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/search/search-form/search-form.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/search/search-form/search-modal.css') }}">
<section class="search container">
    <h1 class="fs-3">Find out users musical taste based on their public playlists</h1>

    <form class="search__form" action="/search" method="POST">
        <input class="form-control search__form__input" type="text" name="username" placeholder="Username or URL" required autofocus />
        <button type="submit" id="search-button" class="btn btn-primary mb-2 search__form__button">
            Search
        </button>
        <button hidden id="search-spinner" class="search__form__loading btn btn-primary" type="button" disabled>
            <span class="search__form__loading__spinner spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>
    </form>

    <a class="search__modal__button fs-5" data-bs-toggle="modal" data-bs-target="#exampleModal" >
        How get the url ?
    </a>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="search__modal__body fs-4 modal-body">
                    {% if status == "notfound" %}
                        <script>document.querySelector('.search__modal__button').click()</script>
                        <p id="notFoundLabel">Sorry, we couldn't find that user. Maybe you have written it in a wrong way. Look how to get the user's URL:</p>
                        <p id="getUrlLabel">Go to the user profile and copy the share link, them paste it in the input bar:</p>
                        <img id="getUrlImg" width="100%" src="static/images/url.png">
                    {% elif status == "noplaylists" %}
                        <script>document.querySelector('.search__modal__button').click()</script>
                        <p id="noPlaylistLabel">Sorry, this user don't have public playlists to be analyzed</p>
                        <p id="getUrlLabel" hidden>Go to the user profile and copy the share link, them paste it in the input bar:</p>
                        <img id="getUrlImg" hidden width="100%" src="static/images/url.png">
                    {% else %}
                        <p id="getUrlLabel">Go to the user profile and copy the share link, them paste it in the input bar:</p>
                        <img id="getUrlImg" width="100%" src="static/images/url.png">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static',filename='js/search-form.js') }}"></script>

</section>
{% endblock %}