{% extends "shared/layout.html" %}
{% block main %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/playlist/statistics.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/playlist/tracks.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/playlist/footer.css') }}">

<section class="statistics">
    
        <h1 class="fs-3 text-center statistics__title">Playlist {{ playlistName }} Statistics:</h1>

        <div class="statistics__chart">
            <p class="fs-4 statistics__label">Danceability</p>
                <div class="progress ">
                    <div class="progress-bar fs-5" role="progressbar" style="width: {{ averages["danceability"]  }}%; background-color: #47FF6D;" aria-valuenow="{{  averages["danceability"] }}" aria-valuemin="0" aria-valuemax="100">
                        {{ averages["danceability"] }}%
                    </div>
                </div>
        </div>

        <div class="statistics__chart">
        <p class="fs-4 statistics__label">Energy</p>
        <div class="progress">
            <div class="progress-bar fs-5" role="progressbar" style="width: {{averages["energy"] }}%; background-color: #E6DD45;" aria-valuenow="{{ averages["energy"] }}" aria-valuemin="0" aria-valuemax="100">
                {{ averages["energy"] }}%
            </div>
        </div>
    </div>
    
        <div class="statistics__chart">
        <p class="fs-4 statistics__label">Acousticness</p>
        <div class="progress">
            <div class="progress-bar fs-5" role="progressbar" style="width: {{ averages["acousticness"] }}%; background-color: #FCAD58;" aria-valuenow="{{ averages["acousticness"] }}" aria-valuemin="0" aria-valuemax="100">
                {{ averages["acousticness"] }}%
            </div>
        </div>
    </div>
    
        <div class="statistics__chart">
        <p class="fs-4 statistics__label" >Instrumentalness</p>
        <div class="progress">
            <div class="progress-bar fs-5" role="progressbar" style="width: {{ averages["instrumentalness"] }}%; background-color: #E64570;" aria-valuenow="{{ averages["instrumentalness"]}}" aria-valuemin="0" aria-valuemax="100">
                {{ averages["instrumentalness"]  }}%
            </div>
        </div>
    </div>

        <div class="statistics__chart">
        <p class="fs-4 statistics__label">Valence</p>
        <div class="progress">
            <div class="progress-bar fs-5" role="progressbar" style="width: {{ averages["valence"]  }}%; background-color: #7F4CFE;" aria-valuenow="{{ averages["valence"]}}" aria-valuemin="0" aria-valuemax="100">
                {{ averages["valence"] }}%
            </div>
        </div>
    </div>
    
</section>

<section class="tracks">
    <h3 class="fs-3 text-center">Tracks features:</h3>
    <div class="tracks__players">

            <div class="tracks__players__player">
                <p class="fs-4">Most Popular</p>
                <iframe src="https://open.spotify.com/embed/track/{{ features["mostpopular"] }}" width="250" height="330" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>

            <div class="tracks__players__player">
                <p class="fs-4">Longest</p>
                <iframe style=" text-align: center; margin: auto" src="https://open.spotify.com/embed/track/{{ features["longest"] }}" width="250" height="330" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>

            <div class="tracks__players__player">
                <p class="fs-4">Happiest</p>
                <iframe style=" text-align: center; margin: auto" src="https://open.spotify.com/embed/track/{{ features["happiest"] }}" width="250" height="330" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div >

            <div class="tracks__players__player">
                <p class="fs-4">Less Popular</p>
                <iframe style=" text-align: center; margin: auto" src="https://open.spotify.com/embed/track/{{ features["lesspopular"] }}" width="250" height="330" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>

            <div class="tracks__players__player">
                <p class="fs-4">Shortest</p>
                <iframe style=" text-align: center; margin: auto" src="https://open.spotify.com/embed/track/{{ features["shortest"] }}" width="250" height="330" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>

            <div class="tracks__players__player">
                <p class="fs-4">Saddest</p>
                <iframe style=" text-align: center; margin: auto" src="https://open.spotify.com/embed/track/{{ features["saddest"] }}" width="250" height="330" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>

    </div>
</section>

<section class="footer">
    <p class="text-center">
        <a href="/">Home |</a>
        <a href="/search"> analyze others users profiles |</a>
        <a href="/profile"> analyze your profile</a>
    </p>
    <p class="text-center">
        Data provided by
        <a href="http://spotify.com" target="_blank"><b>Spotify</b></a>
    </p>
</section>

{% endblock %}