.footer{
    height: 20vh;
    background: linear-gradient(darkslategrey 1%,  #343434 99% );
    padding: 3rem 3rem;
    color: white;
}

.footer a{
    color: white;
}

.footer a:hover{
    color: white;
}