.topTracks{
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topTracks__players{
    max-width: 1000px;
}