  
{% extends "layout.html" %}
{% block title %}Music Analysis{% endblock %}
{% block main %}
    
    <form action="/playlists" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <button class="btn btn-primary" type="submit">comparar</button>
    </form>
   
    {% if method != 'get' %}
    
        <p>{{ name1 }}, {{ name2 }}</p>
        <p>{{ cop }}</p>
  
    {% endif %}
    
{% endblock %}