{% extends "layout.html" %}
{% block main %}
    <style>
        .text{color:white;}
        .playlists{margin-bottom:0.3cm;}
        .pad{padding-left:1cm; padding-right: 1cm;}
    </style>

    <div style="background-color: #2C2E33; padding-top: 1cm; padding-bottom: 1cm">
        <p class="text-center" style="margin-top:2cm;">
            <img src="static/user.png" style="max-width:150px;max-height:150px; border-radius: 50%;">
        </p>
        <h3 class="text-center text pad">User: user example</h3>
        <h3 class="text-center text pad" style="margin-top:1cm;">This are some of the user playlists</h3>
        <p class=text-center>
            <button class="btn btn-success playlists" type="button" data-toggle="collapse" 
            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Button with data-target
            </button>
            <button class="btn btn-success playlists" type="button" data-toggle="collapse" 
            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Button with data-target
            </button>
            <button class="btn btn-success playlists" type="button" data-toggle="collapse" 
            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Button with data-target
            </button>
            <button class="btn btn-success playlists" type="button" data-toggle="collapse" 
            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Button with data-target
            </button>
            <button class="btn btn-success playlists" type="button" data-toggle="collapse" 
            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Button with data-target
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body" style="background-color:#2C2E33; border: none;">
                <p class="text-center">
                <iframe src="https://open.spotify.com/embed/playlist/4zXOvWrl7meDZcxxtbviAw" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </p>  
            </div>
        </div>
    </div>

    <div style="background-color:#5cb85c; padding: 1cm;">
        <h3 class="text-center text" style="margin-top:1cm;">The most frequent artist of User is User</h3>
        <p class="text-center text">Genre: trap brasileiro</p>
        <p class="text-center">
            <img src="static/user.png" style="max-width:150px;max-height:150px; border-radius: 50%;">
        </p>
        <p class="text-center">
            <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </p>
    </div>
    <div style="background-color:white; padding: 1cm;">
        <h3 class="text-center " style="margin-top:1cm;">The main genres of Murilo Bernardo's playlists are:</h3>
        <p class="text-center">
            <div class="alert alert-primary text-center" role="alert">
                A simple primary alert—check it out!
              </div>
              <div class="alert alert-secondary text-center" role="alert">
                A simple secondary alert—check it out!
              </div>
              <div class="alert alert-success text-center" role="alert">
                A simple success alert—check it out!
              </div>
              <div class="alert alert-danger text-center" role="alert">
                A simple danger alert—check it out!
              </div>
              <div class="alert alert-warning text-center" role="alert">
                A simple warning alert—check it out!
              </div>
        </p>
    </div>
    <div style="background-color:#5bc0de; padding: 1cm;">
        <h3 class="text-center text" style="margin-top:1cm;">Some songs that you have in common</h3>
        <h3 class="text-center text" style="margin-bottom: 1cm;">whith user are:</h3>
        <p class="text-center">
            <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </p>
        <p class="text-center">
            <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </p>
        <p class="text-center">
            <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </p>
        <p class="text-center">
            <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </p>
        <p class="text-center">
            <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </p>
    </div>
{% endblock %}
