.login{
    background: #6C7A89;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 100vh;
}

.login__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container, .container-md, .container-sm {
    max-width: 400px;
}