{% extends "shared/layout.html" %}
{% block main %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
<section class="login">
    <div class="container">
        <h1 class="text-center fs-4" >Hi! To use this feature you need to login with your spotify account.</h1>
        <form class="login__form" action="/login" method="get">
            <button class="btn btn-success">Login with Spotify</button>
        </form>
    </div>
</section>
{% endblock %}